<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Actualizar solicitud</title>
</head>
<body>
<main>
    <h1>Actualizar solicitud</h1>
    <form th:action="@{/APRequest/update}" th:object="${apRequest}" method="post">
        <br>
        <input type="hidden" th:field="*{idSolicitud}"/>
        <input type="hidden" th:field="*{idUsuarioOvi}"/>
        <br>

        <div>
            <label for="tipoAsistencia">Tipo Asistencia:</label>
            <select id="tipoAsistencia" th:field="*{tipoAsistencia}">
                <option value="">-- Selecciona --</option>
                <option value="PAP">PAP</option>
                <option value="PATI">PATI</option>
            </select>

            <div th:if="${#fields.hasErrors('tipoAsistencia')}"
                 th:errors="*{tipoAsistencia}"
                 style="color:red"></div>
        </div>
        <br>

        <div>
            <label for="proximidad">Provincia:</label>
            <select id="proximidad" th:field="*{proximidad}">
                <option value="">-- Selecciona --</option>

                <option th:each="prov : ${provincias}"
                        th:value="${prov}"
                        th:text="${prov}">

                </option>
            </select>

            <div th:if="${#fields.hasErrors('proximidad')}"
                 th:errors="*{proximidad}"
                 style="color:red"></div>
        </div>
        <br>

        <input type="hidden" th:field="*{estado}"/>
        <br>

        <div>
            <label for="preferencias">Preferencias:</label><br>
            <textarea id="preferencias" th:field="*{preferencias}" rows="4" cols="50"></textarea>

            <div th:if="${#fields.hasErrors('preferencias')}"
                 th:errors="*{preferencias}"
                 style="color:red"></div>
        </div>
        <br>

        <button type="submit">Actualizar</button>
    </form>
    <br>
    <a th:href="@{/APRequest/list}">Volver a la lista</a>
</main>
</body>
</html>