<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Añadir usuario</title>
</head>
<body>

<main>
    <h1>Añadir usuario</h1>

    <form th:action="@{/UsuariOVI/add}" th:object="${usuariOVI}" method="post">

        <div>
            <label for="idUsuario">Id usuario:</label>
            <input type="text" id="idUsuario" th:field="*{idUsuario}">
        </div>

        <div>
            <label for="nombre">Nombre:</label>
            <input type="text" id="nombre" th:field="*{nombre}">
            <span th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}" style="color:red;"></span>
        </div>
        <div>
            <label for="apellidos">Apellidos:</label>
            <input type="text" id="apellidos" th:field="*{apellidos}">
        </div>
        <div>
            <label for="email">Email:</label>
            <input type="text" id="email" th:field="*{email}">
        </div>
        <div>
            <label for="password">Contreaseña:</label>
            <input type="text" id="password" th:field="*{password}">
        </div>
        <div>
            <label for="telefono">Teléfono:</label>
            <input type="text" id="telefono" th:field="*{telefono}">
            <span th:if="${#fields.hasErrors('telefono')}" th:errors="*{telefono}" style="color:red;"></span>
        </div>
        <div>
            <label for="consentimientoRgpd">Accepto el tractament de dades (RGPD):</label>
            <input type="checkbox" id="consentimientoRgpd" th:field="*{consentimientoRgpd}">
            <span th:if="${#fields.hasErrors('consentimientoRgpd')}" th:errors="*{consentimientoRgpd}" style="color:red;"></span>
        </div>
        <button type="submit">Guardar</button>
    </form>

    <br>
    <a th:href="@{/UsuariOVI/list}">Volver a la lista</a>
</main>

</body>
</html>