<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>SgOVI - Añadir usuario</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body class="form-page">

<nav>
    <span class="nav-brand">SgOVI</span>

    <div class="nav-right">
        <a th:href="@{/logout}" class="btn-logout">
            Cerrar sesión
        </a>
    </div>
</nav>

<main>

<div class="page-actions">

    <div>
        <h1 class="page-title">Añadir usuario</h1>
        <p class="page-subtitle">
            Registra un nuevo usuario OVI
        </p>
    </div>

    <a th:href="@{/UsuariOVI/list}"
       class="btn-back">
        Volver a la lista
    </a>

</div>

<div class="form-card">

    <form th:action="@{/UsuariOVI/add}" th:object="${usuariOVI}" method="post">

        <div class="form-group">
            <label for="nombre">Nombre:</label>
            <input type="text" id="nombre" th:field="*{nombre}"
            placeholder="Nombre">
            <span th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}"
            class="error"></span>
        </div>
        <div class="form-group">
            <label for="apellidos">Apellidos:</label>
            <input type="text" id="apellidos" th:field="*{apellidos}"
                   placeholder="Apellidos">
        </div>

        <div class="form-group">
            <label for="email">Email:</label>
            <input type="email" id="email" th:field="*{email}"
            placeholder="correo@ejemplo.com">
        </div>

        <div class="form-group">
            <label for="password">Contraseña:</label>
            <input type="password" id="password" th:field="*{password}"
                   placeholder="********">
        </div>

        <div class="form-group">
            <label for="telefono">Teléfono:</label>
            <input type="text" id="telefono" th:field="*{telefono}"
            placeholder="6XXXXXXXX">
            <span th:if="${#fields.hasErrors('telefono')}" th:errors="*{telefono}"
                  class="error"></span>
        </div>

        <div class="checkbox-group">
            <input type="checkbox" id="consentimientoRgpd" th:field="*{consentimientoRgpd}">
            <label for="consentimientoRgpd">Accepto el tractament de dades (RGPD):</label>
            <span th:if="${#fields.hasErrors('consentimientoRgpd')}" th:errors="*{consentimientoRgpd}"
                  class="error"></span>
        </div>
        <button type="submit" class="btn btn-primary">
            Guardar
        </button>
    </form>

</div>
</main>

</body>
</html>