<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>SgOVI - Añadir usuario</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body class="form-page">

<div class="form-card">
    <div class="header">

        <div class="logo">
            <span style="color:white;
                         font-weight:bold;
                         font-size:1.5rem;">+</span>
        </div>
    </div>

    <h1>Añadir usuario</h1>

    <p class="subtitle">
       Registra un nuevo usuario OVI
    </p>

    <form th:action="@{/UsuariOVI/add}" th:object="${usuariOVI}" method="post">

        <div class="form-group">
            <label for="nombre">Nombre:</label>
            <input type="text" id="nombre" th:field="*{nombre}"
            placeholder="Nombre">
            <span th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}"
            class="error"></span>
        </div>
        <div class="form-group">
            <label for="apellidos">Apellidos:</label>
            <input type="text" id="apellidos" th:field="*{apellidos}"
                   placeholder="Apellidos">
        </div>

        <div class="form-group">
            <label for="email">Email:</label>
            <input type="email" id="email" th:field="*{email}"
            placeholder="correo@ejemplo.com">
        </div>

        <div class="form-group">
            <label for="password">Contreaseña:</label>
            <input type="password" id="password" th:field="*{password}"
                   placeholder="********">
        </div>

        <div class="form-group">
            <label for="telefono">Teléfono:</label>
            <input type="text" id="telefono" th:field="*{telefono}"
            placeholder="6XXXXXXXXXX">
            <span th:if="${#fields.hasErrors('telefono')}" th:errors="*{telefono}"
                  class="error"></span>
        </div>

        <div class="checkbox-group">
            <input type="checkbox" id="consentimientoRgpd" th:field="*{consentimientoRgpd}">
            <label for="consentimientoRgpd">Accepto el tractament de dades (RGPD):</label>
            <span th:if="${#fields.hasErrors('consentimientoRgpd')}" th:errors="*{consentimientoRgpd}"
                  class="error"></span>
        </div>
        <button type="submit" class="btn btn-primary">
            Guardar
        </button>
    </form>

    <a th:href="@{/UsuariOVI/list}"
    class="btn btn-outline">Volver a la lista</a>
</div>

</body>
</html>