<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <title>Lista usuarios</title>
</head>
<body class="table-page">

<main>

    <h1 class="page-title">
        Lista de usuarios
    </h1>
<div class="table-container">
    <table>
        <thead>
        <tr>
            <th>id</th>
            <th>Nombre</th>
            <th>Apellidos</th>
            <th>Email</th>
            <th>Contraseña</th>
            <th>teléfono</th>
            <th>Confirmación RGPD</th>
            <th>Acciones</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="usuario : ${usuarios}">
            <td th:text="${usuario.idUsuario}"></td>
            <td th:text="${usuario.nombre}"></td>
            <td th:text="${usuario.apellidos}"></td>
            <td th:text="${usuario.email}"></td>
            <td th:text="${usuario.password}"></td>
            <td th:text="${usuario.telefono}"></td>
            <td th:text="${usuario.consentimientoRgpd ? 'Si' : 'No'}"></td>
            <td>
                <a th:href="@{/UsuariOVI/update/{id}(id=${usuario.idUsuario})}"
                class="btn-edit">
                    Edita
                </a>
                <a th:href="@{/UsuariOVI/delete/{id}(id=${usuario.idUsuario})}"
                class="btn-delete">
                    Esborra
                </a>
            </td>
        </tr>
        </tbody>
    </table>
</div>

    <a th:href="@{/UsuariOVI/add}"
    class="btn-new">
        Afegeix usuario
    </a>

<br><br>
<a th:href="@{/}"
class="btn-back">
    Tornar
</a>
</main>
</body>
</html>