<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create new formador</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>

<body>
<div class="form-card">
    <h1 class="page-title">
        New formador
    </h1>

    <form th:action="@{/api/formador/add}"
          th:object="${formador}"
          method="post">

        <div class="form-group">
            <label for="nombre">Name:</label>
                <input id="nombre" type="text" th:field="*{nombre}">

            <div th:if="${#fields.hasErrors('nombre')}"
                 th:errors="*{nombre}"
                 class="error">
            </div>
        </div>

        <div class="form-group">
            <label for="apellidos">Surname:</label>
                <input id="apellidos" type="text" th:field="*{apellidos}">

            <div th:if="${#fields.hasErrors('apellidos')}"
                 th:errors="*{apellidos}"
                 class="error">
            </div>
        </div>

        <div class="form-group">
            <label for="especialidad">Specialty:</label>
                <input id="especialidad" type="text" th:field="*{especialidad}">

            <div th:if="${#fields.hasErrors('especialidad')}"
                 th:errors="*{especialidad}"
                 class="error">
            </div>
        </div>

        <button type="submit" class="btn btn-primary">Create formador</button>
        <a th:href="@{/formador/list}"
           class="btn btn-outline">
            Volver
        </a>
    </form>

</div>

</body>
</html>