<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <title>Formadors</title>
</head>
<body class="table-page">

<main>
    <h1 class="page-title">
        Formadors
    </h1>

    <div class="table-container">
        <table>
            <thead>
            <tr>
                <th>Name</th>
                <th>Surname</th>
                <th>Specialty</th>
                <th>Actions</th>
            </tr>
            </thead>

            <tbody>
            <tr th:each="f : ${formadors}">
                <td th:text="${f.nombre}"></td>
                <td th:text="${f.apellidos}"></td>
                <td th:text="${f.especialidad}"></td>

                <td>
                    <a th:href="@{/api/formador/delete/{id}(id=${f.idFormador})}"
                       class="btn-delete">
                        Delete
                    </a>
                </td>
            </tr>
            </tbody>

        </table>
    </div>
</main>

</body>
</html>